@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.react-datepicker-wrapper {
  width: 100%;
}

.channel-wrap{
  display: flex;
  height: 100%;
}

.channel-list,
.channel-chat{
  float: left;
}

.channel-chat{
  width: 76%;
  float: right;
}

li {
  cursor: pointer;
  list-style-type: none;
  font-family: sans-serif;
}

.MuiTypography-root.MuiCardHeader-title.MuiTypography-body2.MuiTypography-displayBlock,
.MuiTypography-root.MuiTypography-body2{
  text-align: left;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedSizeSmall.MuiButton-sizeSmall{
  background-color:var(--sendbird-light-primary-300);
  color: white;
}

.user-message__options-btn {
  height: 32px;
  width: 32px;
  border-radius: 25px;
  border: 2px solid #6210CC;
  position: absolute;
  display: inline-block;
  right: 10px;
  top: 8px;
  font-weight: bold;
  cursor: pointer;
  background-color: white;
}

#icon-button-file{
  display: none !important;
}